[Unit]
Description=Robin
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=robin boot
Restart=on-failure
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
