[Unit]
Description=Robin
After=network-online.target exe-setup.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/robin boot
Restart=on-failure
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
